// TYPOGRAPHY

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

p,
a,
span,
ul,
li,
div {
  color: $primary-text;
}

p,
ul,
li,
div {
  font-family: 'Libre Franklin', sans-serif;
}

p,
li {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

h1,
h2,
h3,
h4 {
  a {
    text-decoration: none;
  }
}

code {
  border-radius: 3px;
  padding: 3px;
  background: #ececec;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
  font-size: 1.3rem;
}

.gist .blob-code-inner span {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
  font-size: 12px;
  white-space: pre;
  word-wrap: normal;
}

.gist {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
