// TYPOGRAPHY

html {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
}

p,
span,
a,
ul,
li,
div {
  font-family: "Libre Franklin", sans-serif;
  color: $dark-text;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: $primary-color;
}

p {
  line-height: 2.3rem;
}
