// TYPOGRAPHY

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

p,
span,
a,
ul,
li,
div {
  font-family: 'Libre Franklin', sans-serif;
  color: $primary-text;
}

p,
li {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

h1,
h2,
h3,
h4 {
  a {
    text-decoration: none;
  }
}
