.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0;
  width: $max-width;
}

.Title {
  margin: 0;
  color: $primary-text;
  font-size: 3.5rem;
  a {
    font-size: inherit;
    color: inherit;
    &:hover {
      color: $primary-color;
    }
  }
}

.Nav {
  display: flex;
  list-style-type: none;
}

.NavItem {
  padding-left: 10px;
  font-size: 2rem;
  a {
    font-size: inherit;
  }
}
