.Splash {
  background: rgb(51, 255, 254);
  background: linear-gradient(
    158deg,
    rgba(51, 255, 254, 1) 35%,
    rgba(46, 220, 254, 1) 52%,
    rgba(20, 62, 154, 1) 97%
  );
  height: 600px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-blend-mode: saturation;
}

.Content {
  max-width: $max-width;
  margin: 0 auto;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.Heading {
  font-size: 5rem;
}

.Tagline {
  font-size: 2.5rem;
  line-height: 3rem;
}
